<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vc</key>
		<string>WorkVc</string>
		<key>title</key>
		<string>学习</string>
		<key>normal</key>
		<string>work_normal</string>
		<key>selected</key>
		<string>work_selected</string>
	</dict>
	<dict>
		<key>vc</key>
		<string>HomeVc</string>
		<key>title</key>
		<string>学习</string>
		<key>normal</key>
		<string>reports_normal</string>
		<key>selected</key>
		<string>reports_selected</string>
	</dict>
	<dict>
		<key>vc</key>
		<string>MineVc</string>
		<key>title</key>
		<string>学习</string>
		<key>normal</key>
		<string>me_normal</string>
		<key>selected</key>
		<string>me_selected</string>
	</dict>
</array>
</plist>
