<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>二维码</string>
		<key>VC</key>
		<string>RecognizeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>身份证识别</string>
		<key>VC</key>
		<string>IdentifyViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UIWebview调用JS</string>
		<key>VC</key>
		<string>UIWebViewJSViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JS调用UIWebView</string>
		<key>VC</key>
		<string>JSUIWebViewViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>WKWebView调取JS</string>
		<key>VC</key>
		<string>WKWebViewJSViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JS调用WKWebView</string>
		<key>VC</key>
		<string>JSWKWebViewViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JSC调用OC</string>
		<key>VC</key>
		<string>JSCallOCViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>OC调用JSC</string>
		<key>VC</key>
		<string>OCCallJSViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Higjtcharts</string>
		<key>VC</key>
		<string>HighchartsWebViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3D Touch</string>
		<key>VC</key>
		<string>TouchViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>抽屉</string>
		<key>VC</key>
		<string>RightViewController</string>
	</dict>
</array>
</plist>
